[user]
  name = {{ git_user_name }}
  email = {{ git_user_email }}
  signingkey = {{ gpg_default_key_id }}
[color]
  ui = auto
[alias]
  f = fetch --all --prune
  r = rebase
  co = checkout
  cb = checkout -b
  p = pull
  ps = push
  pushfwl = push --force-with-lease
  pr = pull-request -l WIP
  coa = commit --amend
  retry-commit = commit -e -F .git/COMMIT_EDITMSG
  remove =ls-files --deleted | xargs git rm
  s = status -sb
  st = status
  stp = subtree push
  gh-deploy = subtree push --prefix build origin gh-pages
  rm = rm --cached
  br = branch
  brv = branch -av
  l = log --abbrev-commit --date=relative --pretty=format:'* %C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  standup-me = log --since '2 days ago' --author {{ git_user_email }}
  mt = mergetool
  undo-commit = reset --soft HEAD^
  unchanged = update-index --assume-unchanged
[branch "main"]
  remote = origin
  merge = refs/heads/main
[branch "develop"]
  remote = origin
  merge = refs/heads/develop
[core]
  excludesfile = ~/.gitignore_global
  precomposeunicode = true
  editor = vim
[push]
  default = current
  followTags = true
[pull]
  rebase = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[diff]
  tool = vscode
[merge]
  tool = vscode
[difftool "vscode"]
  prompt = false
  cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
  cmd = code --wait $MERGED
[github]
  user = {{ github_user }}
[commit]
  gpgsign = true
[gpg]
  program = {{ homebrew_path }}/bin/gpg
# [url "https://github.com/"]
#   insteadOf = git@github.com:
# [url "https://"]
#   insteadOf = git://
{% for include in git_include_configs %}
[includeIf "gitdir:{{ include.gitdir }}"]
  path = {{ include.path }}
{% endfor %}
[init]
  defaultBranch = main
