{
    "gitlens.remotes": [
        {
            "domain": "gitlab.sumcumo.net",
            "type": "GitLab"
        }
    ],
    "workbench.colorCustomizations": {
        "statusBar.background": "#303030",
        "statusBar.noFolderBackground": "#222225",
        "statusBar.debuggingBackground": "#511f1f",
        "editor.selectionBackground": "#0F5897"
    },
    "workbench.startupEditor": "none",
    "workbench.fontAliasing": "antialiased",
    "window.openFoldersInNewWindow": "on",
    "window.openFilesInNewWindow": "off",
    "window.newWindowDimensions": "inherit",
    "explorer.openEditors.visible": 0,
    "editor.renderIndentGuides": true,
    "editor.scrollBeyondLastLine": false,
    "editor.tabSize": 2,
    "eslint.validate": [
        "javascript",
        "vue",
        "typescript"
    ],
    "circleci.apiKey": "c0714d7e9c55dfe2030c5755eff5a8064864f7ad",
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "build/**/*": true,
        ".tmp/**/*": true,
        "**/coverage/**": true,
        "**/.eslintcache": true
    },
    "window.zoomLevel": 0,
    "projectManager.openInNewWindowWhenClickingInStatusBar": false,
    "projectManager.git.baseFolders": [
        "{{ ansible_facts['env']['HOME'] }}/dev",
        "{{ ansible_facts['env']['HOME'] }}/work",
    ],
    "workbench.iconTheme": "material-icon-theme",
    "[apiblueprint]": {
        "files.trimTrailingWhitespace": false
    },
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.snippetSuggestions": "top",
    "[markdown]": {
        "files.trimTrailingWhitespace": false
    },
    "gitlens.advanced.messages": {
        "suppressShowKeyBindingsNotice": true,
        "suppressWelcomeNotice": true
    },
    "editor.minimap.enabled": false,
    "explorer.confirmDragAndDrop": false,
    "editor.rulers": [
        100
    ],
    "material-icon-theme.showUpdateMessage": false,
    "go.inferGopath": true,
    "gitlens.keymap": "alternate",
    "git.autofetch": true,
    "gitlens.views.fileHistory.enabled": false,
    "gitlens.views.lineHistory.enabled": false,
    "material-icon-theme.folders.theme": "classic",
    "files.associations": {
        "*.jb": "ruby",
        "*.inky": "erb"
    },
    "ruby.format": "rubocop",
    "ruby.rubocop.onSave": true,
    "[ruby]": {
        "editor.formatOnSave": true,
        "editor.formatOnSaveTimeout": 5000,
    },
    "[html]": {
        "editor.defaultFormatter": "vscode.html-language-features"
    },
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": true,
        "source.fixAll.stylelint": true
    },
    "vetur.validation.script": false,
    "javascript.updateImportsOnFileMove.enabled": "never"
}


